# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/

# env + secrets
.env
*.env

# DB files
*.db
*.sqlite
*.sqlite3

# dumps/logs
*.dump
*.log

# notebooks checkpoints
.ipynb_checkpoints/

# OS + editor
.DS_Store
Thumbs.db
.vscode/
security_report.html
bash.exe.stackdump
*.pkl
*.csv
*.ipynb
